## Palabras

In [17]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
print(words)

['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']

**Imprime todas las letras en mayuscula**

In [19]:
for word in words:
    wordsupper = word.upper()
    print(wordsupper)

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Crea una nueva lista que contenga 5 o más letras**

In [20]:
new_list = [word for word in words if len(word) >=5]
print(new_list)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Imprime la primera palabra que empiece por 't'**

In [27]:
for word in words:
    if word.startswith('t'):
        print("Palabra que empieza por 't':", word)

Palabra que empieza por 't': theatre
Palabra que empieza por 't': that

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [28]:
squares = [x ** 2 for x in range(1, 11)]
print("Lista de cuadrados:", squares)

Lista de cuadrados: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [29]:
squares_of_odd_numbers = [(2 * x + 1) ** 2 for x in range(5)]
print("Lista de cuadrados de números impares del 1 al 10:", squares_of_odd_numbers)

Lista de cuadrados de números impares del 1 al 10: [1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [30]:
squares_of_multiples_of_8 = [x ** 2 for x in range(1, 1000 // 8 + 1)]
print("Lista de cuadrados de múltiplos de 8 por debajo de 1000:", squares_of_multiples_of_8)

Lista de cuadrados de múltiplos de 8 por debajo de 1000: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000, 10201, 10404, 10609, 10816, 11025, 11236, 11449, 11664, 11881, 12100, 12321, 12544, 12769, 12996, 13225, 13456, 13689, 13924, 14161, 14400, 14641, 14884, 15129, 15376, 15625]

## People

In [39]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [46]:
total_people = len(people)
print("nº de personas:", total_people)

nº de personas: 5

**Cuanta gente tiene hijos**?

In [48]:
people_with_kids = sum(1 for person in people if person["n_kids"] > 0)
print("nºde personas con hijos:", people_with_kids)

nºde personas con hijos: 4

**Cuantos hijos tienen en total?**

In [50]:
total_kids = sum(person["n_kids"] for person in people)
print("nº total de hijos:", total_kids)

nº total de hijos: 12

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [52]:
people_next_year = []
for person in people:
    if person["name"].endswith("a"):
        person["n_kids"] += 1
    person["age"] += 1
    people_next_year.append(person)
print("Información de las personas en un año:")
for person in people_next_year:
    print(person)

Información de las personas en un año:
{'name': 'Juan', 'age': 37, 'n_kids': 2}
{'name': 'Pepe', 'age': 30, 'n_kids': 0}
{'name': 'Sonia', 'age': 44, 'n_kids': 4}
{'name': 'Lucía', 'age': 25, 'n_kids': 5}
{'name': 'Leo', 'age': 58, 'n_kids': 5}